<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="/webjars/thebutton/css/thebutton.css" rel="stylesheet">


<title>BOKSA Demo: WebJars</title>



<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="d-flex justify-content-center">
		<h1>BOKSA Demo: WebJars</h1>
	</div>
	<div class="d-flex justify-content-center">
		<div id="thebutton"></div>
	</div>

	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="/webjars/thebutton/js/thebutton.js"></script>

</body>
</html>